services:
  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
      args:
        - NG_APP_API_URL=http://localhost:8080
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_NAME=tcc-test.db
      - PORT=8080
      - REQUEST_DELAY_IN_SECOND=10
      - MAXIMUM_BRUST=100
      - JWT_SECRET=test-tcc-jwt
      - JWT_TIME_EXPIRED_SECOND=3600
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
